<template>
    <section id="file-manager" class="d-flex align-items-stretch shadow rounded">
        <file-manager-wrapper :admin="admin"></file-manager-wrapper>
    </section>
</template>

<script>
    import FileManagerWrapper from "./FileManagerWrapper";

    export default {
        components: {FileManagerWrapper},
        name: "file-manager-index",
        props: ['admin'],
        mounted(){
            this.$store.commit('setLoading', false)
        }
    }
</script>

<style scoped>
    #file-manager {
        height: calc(100vh - 100px);
        overflow: hidden;
    }
</style>
