<template>
    <div class="file-manager-body d-flex align-items-stretch">
        <div class="row flex-fill">
            <div class="col-2 pr-0 d-flex align-items-stretch">
                <file-manager-sidebar
                        :sidebar="sidebar"
                        :disc="disc"
                        :changeDisc="(disc) => {changeDisk(disc)}"
                        :changeDiskWithFolder="(disc, folder) => {changeDiskWithFolder(disc, folder)}"
                ></file-manager-sidebar>
            </div>
            <div class="col-10 pl-0 d-flex align-items-stretch flex-column">
                <file-manager-header
                        :disc="disc"
                        :disk_permissions="disk_permissions"
                        :modal_id="modal_id"
                        :parent_folder="parent_folder"
                        :parent_folder_name="parent_folder_name"
                        :changeCurrentFolder="(folder) => {changeCurrentFolder(folder)}"
                        :createFolder="() => {this.createFolder()}"
                        :toTrash="() => {this.toTrash()}"
                        :grid="grid"
                        :toggleGrid="(grid) => {this.toggleGrid(grid)}"
                        :searchFile="(search) => {this.searchFile(search)}"
                        :clearDisk="() => {this.clearDisk()}"
                ></file-manager-header>
                <div class="file-manager-wrapper d-flex flex-grow-1">
                    <div id="drop-area"
                         @dragover.prevent
                         @dragenter.prevent="dragOn"
                         @dragleave.prevent="dragOff"
                         @drop.prevent="uploadFiles"
                         class="file-manager-folder-wrapper d-flex align-items-stretch"
                         v-bind:class="{'empty': (folders.length === 0 && files.length === 0)}">
                        <perfect-scrollbar @contextmenu.stop.prevent="scrollBarContextMenu($event)" id="files-list" class="file-manager-folder-wrapper-items d-flex align-content-start flex-wrap flex-fill" :class="grid">
                            <template v-if="folders.length > 0">
                                <folder-component :ref="folder_item.storage_name"
                                        :disc="disc"
                                        :key="folder_item.el_id + '-folder-' + folder_index"
                                        :drop_folder="drop_folder"
                                        :item="folder_item"
                                        :grid="grid"
                                        :select="(storage_name, ctrl, shift) => {select(storage_name, ctrl, shift)}"
                                        :selected="selected"
                                        :changeCurrentFolder="(folder) => {changeCurrentFolder(folder)}"
                                        :changeDropFolder="(folder) => {changeDropFolder(folder)}"
                                        v-on:changeContextMenuPath="changeContextMenuPath"
                                        :rename="(name, storage_name) => {rename(name, storage_name)}"
                                        v-for="(folder_item, folder_index) in folders"
                                ></folder-component>
                            </template>
                            <template v-if="files.length > 0">
                                <folder-component :ref="file_item.storage_name"
                                        :disc="disc"
                                        :key="file_item.el_id + '-file-' + file_index"
                                        :drop_folder="drop_folder"
                                        :item="file_item"
                                        :grid="grid"
                                        :select="(storage_name, ctrl, shift) => {select(storage_name, ctrl, shift)}"
                                        :selected="selected"
                                        :changeCurrentFolder="(folder) => {changeCurrentFolder(folder)}"
                                        :changeDropFolder="(folder) => {changeDropFolder(folder)}"
                                        v-on:changeContextMenuPath="changeContextMenuPath"
                                        :rename="(name, storage_name) => {rename(name, storage_name)}"
                                        :setFile="setFile"
                                        v-for="(file_item, file_index) in files"
                                ></folder-component>
                            </template>
                            <template v-if="folders.length === 0 && files.length === 0">
                                <div class="empty-folder d-flex align-items-center justify-content-center">
                                    <p>Empty Folder</p>
                                </div>
                            </template>
                            <div class="loader d-flex justify-content-center" v-bind:class="{active: this.loader_active}">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading</span>
                                </div>
                            </div>
                        </perfect-scrollbar>
                    </div>
                    <file-manager-info :info_data="info_data" :rename="(name, storage_name) => {rename(name, storage_name)}"></file-manager-info>
                </div>
            </div>
        </div>
        <input type="file" id="uploadFiles" @change="uploadFilesFromInput" multiple="multiple" style="display: none">
        <div id="js-context-menu-item" class="context-menu-open">
            <ul>
                <li v-if="disk_permissions.copy" @click="contextMenu_Copy">Copy</li>
                <li v-if="disk_permissions.cut" @click="contextMenu_Cut">Cut</li>
                <li v-if="disk_permissions.delete" @click="contextMenu_Delete">Delete</li>
                <li v-if="disk_permissions.rename && selected.length === 1" @click.prevent="contextMenu_Rename">Rename</li>
            </ul>
        </div>

        <div id="js-context-menu-scrollBar" class="context-menu-open">
            <ul>
                <li v-if="disk_permissions.upload && (context_menu_option === 'cut' || context_menu_option === 'copy')" @click="contextMenu_Insert">Insert</li>
                <li v-if="disk_permissions.upload" @click="contextMenu_UploadFile">Upload New File</li>
                <li v-if="disk_permissions.create_folder" @click="contextMenu_NewFolder">Create New Folder</li>
            </ul>
        </div>

        <b-modal ref="newfoldermodal" title="Create new folder" hide-footer>
            <div>
                Enter the name
            </div>
            <div>
                <input id="js-modal-input" v-model="new_folder_name" ref="modalinput" type="text" class="new-folder-input">
            </div>
            <div style="display: flex; align-items: center; justify-content: center; margin-top:40px;">
                <button type="button" class="modal-btn modal-button-success" style="margin-right: 50px;" @click="createFolderRequest">Create</button>
                <button type="button" class="modal-btn modal-button-secondary" @click="hideModal">Cancel</button>
            </div>
        </b-modal>

        <b-modal ref="clearDiskModal" title="Delete all files in the disk" hide-footer>
            <div>
                <h5>
                    Are you sure that you want to delete all files? It will be impossible to return them.
                </h5>
            </div>
            <div style="display: flex; align-items: center; justify-content: center; margin-top:40px;">
                <button type="button" class="modal-btn modal-button-danger" style="margin-right: 50px;" @click="clearDiskRequest">Delete all files</button>
                <button type="button" class="modal-btn modal-button-secondary" @click="hideModalClear">Cancel</button>
            </div>
        </b-modal>
    </div>
</template>

<script>
    import FileManagerSidebar from "./FileManagerSidebar";
    import FileManagerHeader from "./FileManagerHeader";
    import FolderComponent from "./FolderComponent";
    import FileManagerInfo from "./FileManagerInfo";

    export default {
        components: {
            FileManagerInfo,
            FolderComponent,
            FileManagerHeader,
            FileManagerSidebar},
        name: "file-manager-wrapper",
        props: ['modal_id', 'field_value', 'setFile'],
        data: function () {
            return {
                loader_active: true,
                sidebar: [],
                disk_permissions: [],
                selected: [],
                folders: [],
                files: [],
                grid: '',

                drop_folder: '',
                current_folder: '',
                current_file: '',

                context_menu_option: "",
                context_menu_option_disk: "",
                context_menu_selected: [],

                parent_folder: '',
                parent_folder_name: '',
                disc: '',

                info_data: {},
                new_folder_name: ''
            }
        },
        mounted() {
            if (!localStorage.getItem('file-manager-grid')) {
                localStorage.setItem('file-manager-grid', 'grid');
            }
            this.grid = localStorage.getItem('file-manager-grid');
            if(typeof this.field_value !== 'undefined' && this.field_value && this.field_value.length > 0){
                this.current_file = this.field_value;
                this.select(this.field_value);
            }
            this.init();

            // hide context menu
            window.addEventListener('click', function() {
                document.getElementById('js-context-menu-item').style.display = 'none';
                document.getElementById('js-context-menu-scrollBar').style.display = 'none';
            });

        },
        methods: {
            clearDisk() {
                this.$refs.clearDiskModal.show();
            },
            clearDiskRequest() {
                this.loader_active = true;

                axios.post(this.makeUrl() + '/file-manager/clear-disk', {
                    disk: this.disc,
                }).then((response) => {
                    this.loader_active = false;
                    this.$refs.clearDiskModal.hide();
                    this.init();
                }).catch((exc) => {
                    this.loader_active = true;
                    this.$modal.error("Failed to init file system")
                });
            },
            makeUrl() {
                return this.$url_prefix;
            },
            init: function () {
                this.loader_active = true;
                this.folders = [];
                this.files = [];
                this.disk_permissions = [];
                this.info_data = {};
                axios.post(this.makeUrl() + '/file-manager/init', {
                    disc: this.disc,
                    current_folder: this.current_folder,
                    current_file: this.current_file,
                }).then((response) => {
                    this.switchResponse(response);
                    this.loader_active = false;
                }).catch((exc) => {
                    this.$modal.error("Failed to init file system")
                });
            },
            switchResponse: function (response) {
                this.disc = response.data.disc;
                this.folders = response.data.folders;
                this.files = response.data.files;
                this.parent_folder_name = response.data.parent_folder_name;
                this.parent_folder = response.data.parent_folder;
                if(typeof response.data.errors !== 'undefined'){
                    this.errors = response.data.errors;
                }
                if(typeof response.data.current_folder !== 'undefined'){
                    this.current_folder = response.data.current_folder;
                }
                if(typeof response.data.sidebar !== 'undefined'){
                    this.sidebar = response.data.sidebar;
                }
                if(typeof response.data.permissions !== 'undefined'){
                    this.disk_permissions = response.data.permissions;
                }

                this.drop_folder = "";
                if(document.getElementById('progress') !== null){
                    document.getElementById('progress').style.width = '0%';
                }
                this.upload_percent = 0;
                if(response.data.selected_file && response.data.selected_file.length > 0){
                    this.select(response.data.selected_file);
                }else{
                    this.selected = [];
                    this.info_data = {};
                }
                document.querySelectorAll('.file-content').forEach(function (file_content) {
                    if(file_content.classList.contains('drag')){
                        file_content.classList.remove('drag');
                    }
                });
            },
            changeDropFolder(folder){
                this.drop_folder = folder;
            },
            changeDisk(disc){
                this.current_folder = "";
                this.current_file = "";
                this.disc = disc;
                this.init();
            },
            changeDiskWithFolder(disc, folder){
                this.current_folder = folder;
                this.current_file = "";
                this.disc = disc;
                this.init();
            },
            changeCurrentFolder(parent_folder){
                this.current_folder = parent_folder;
                this.current_file = "";
                this.init();
            },
            createFolder: function () {
                this.$refs.newfoldermodal.show();
                window.setTimeout(function () {
                    document.getElementById('js-modal-input').focus();
                }, 100);

            },
            createFolderRequest: function () {
                if (this.new_folder_name) {
                    this.loader_active = true;

                    axios.post(this.makeUrl() + '/file-manager/create', {
                        disc: this.disc,
                        current_folder: this.current_folder,
                        folder_name: this.new_folder_name
                    }).then(() => {
                        this.init();
                        this.$refs.newfoldermodal.hide();
                        this.new_folder_name = '';
                    }).catch(() => {
                        this.$modal.error("Error", "Error init")
                    });
                }
            },
            hideModal: function () {
                this.$refs.newfoldermodal.hide();
            },
            hideModalClear: function () {
                this.$refs.clearDiskModal.hide();
            },
            select(storage_name, ctrl, shift){
                if(ctrl){
                    if(this.selected.indexOf(storage_name) >= 0){
                        this.selected = this.selected.filter(e => e !== storage_name);
                    }else{
                        this.selected.push(storage_name);
                    }
                }else if(shift){
                    if(this.selected.length === 0){
                        this.selected = [storage_name];
                    }else{
                        this.selected.sort();
                        let first = this.selected[0];
                        this.selected = [first, storage_name];
                        this.selected.sort();
                        let start = this.selected[0];
                        let end = this.selected[1];
                        let started = false;
                        let finished = false;
                        this.folders.forEach((folder) => {
                            if(folder.storage_name === start){
                                started = true;
                            }
                            if(started && !finished && this.selected.indexOf(folder.storage_name) < 0){
                                this.selected.push(folder.storage_name);
                            }
                            if(folder.storage_name === end){
                                finished = true;
                            }
                        });
                        this.files.forEach((file) => {
                            if(file.storage_name === start){
                                started = true;
                            }
                            if(started && !finished && this.selected.indexOf(file.storage_name) < 0){
                                this.selected.push(file.storage_name);
                            }
                            if(file.storage_name === end){
                                finished = true;
                            }
                        });
                    }
                }else{
                    /*if(this.selected.indexOf(storage_name) >= 0){
                        this.selected = this.selected.filter(e => e !== storage_name);
                    }else{*/
                        this.selected = [storage_name];
                    /*}*/
                }
                if(this.selected.length === 1){
                    let info = false;
                    this.folders.forEach((folder) => {
                        if(folder.storage_name === this.selected[0]){
                            info = folder;
                        }
                    });
                    if(!info){
                        this.files.forEach((file) => {
                            if(file.storage_name === this.selected[0]){
                                info = file;
                            }
                        });
                    }
                    this.info_data = info;
                }else{
                    this.info_data = {};
                }
            },
            dragOn: function (e) {
                if(typeof e.target.classList !== 'undefined' && (e.target.classList.contains('file-manager-folder-wrapper-items') || e.target.classList.contains('file-manager-folder-wrapper'))) {
                    document.getElementById('drop-area').classList.add('drag');
                }
            },
            dragOff: function (e) {
                if(typeof e.target.classList !== 'undefined' && (e.target.classList.contains('file-manager-folder-wrapper-items') || e.target.classList.contains('file-manager-folder-wrapper'))) {
                    document.getElementById('drop-area').classList.remove('drag');
                }
            },
            toTrash: function () {
                let _this = this;
                if(this.selected.length > 0){
                    this.loader_active = true;

                    // проверка использования файлов
                    axios.post(this.makeUrl() + '/file-manager/check-delete-files', {
                        disc: this.disc,
                        current: this.current_folder,
                        selected: this.selected,
                    }).then((response) => {
                        if (!response.data) {
                            // файлы в базе не найдены, удаление файлов
                            this.toTrashRequest();
                        } else {
                            this.loader_active = false;

                            this.$modal.confirm("Confirm delete", "The file \"" + response.data.file + "\" is used in the " + response.data.object + ". Are you sure you confirm the deletion?", function() {
                                _this.toTrashRequest();
                            });
                        }
                    }).catch(() => {
                        this.$modal.error("error", "error trash");
                        this.init();
                    });
                }else{
                    this.$modal.warning('Warning', 'Please, select at least one item');
                }
            },
            toTrashRequest: function () {
                this.folders = [];
                this.files = [];
                axios.post(this.makeUrl() + '/file-manager/delete', {
                    disc: this.disc,
                    current: this.current_folder,
                    selected: this.selected,
                }).then((response) => {
                    this.switchResponse(response);
                    this.loader_active = false;
                }).catch(() => {
                    this.$modal.error('error', 'error_trash');
                    this.init();
                });
            },
            uploadFilesFromInput: function (e) {
                let files = [];
                Array.from(e.target.files).forEach(inputFile => {
                    files.push(inputFile);
                });
                this.uploadFiles(e, files);
            },
            uploadFiles: function (e, customFiles = []) {
                document.getElementById('drop-area').classList.remove('drag');
                let files = [];
                if(customFiles.length === 0){
                    let droppedFiles = e.dataTransfer.files;
                    if(!droppedFiles) return;
                    ([...droppedFiles]).forEach(dropFile => {
                        files.push(dropFile);
                    });
                }else{
                    files = customFiles;
                }

                let formData = new FormData();
                files.forEach((file,index) => {
                    formData.append('file'+(index+1), file);
                });
                formData.append('current_folder', this.current_folder);
                formData.append('drop_folder', this.drop_folder);
                formData.append('disk', this.disc);
                axios.post(this.makeUrl() + '/file-manager/upload',
                    formData,
                    {
                        contentType: false,
                        processData: false,
                        cache: false,
                        onUploadProgress: function(progressEvent) {
                            this.upload_percent = parseInt(Math.round((progressEvent.loaded/progressEvent.total) * 100));
                            if(document.getElementById('progress') !== null){
                                document.getElementById('progress').style.width = this.upload_percent + '%';
                            }
                        }.bind(this)
                    }
                ).then((response) => {
                    if(typeof response.data.errors !== 'undefined'){
                        response.data.errors.forEach((error) => {
                            this.$modal.error("Error", error);
                        })
                    }
                    this.switchResponse(response);
                }).catch(() => {
                    this.$modal.error("Error", 'error upload');
                });
            },
            toggleGrid(grid){
                localStorage.setItem('file-manager-grid', grid);
                this.grid = grid;
            },
            toggleDeleteClick(){
                this.can_delete = true;
                this.$feather.replace();
                if(this.can_delete){
                    document.addEventListener('click', this.checkDeleteClick, false)
                }else{
                    document.removeEventListener('click', this.checkDeleteClick, false)
                }
            },
            searchFile: function (search) {
                this.loader_active = true;
                this.folders = [];
                this.files = [];
                axios.post(this.makeUrl() + '/file-manager/search', {
                    disc: this.disc,
                    current: "",
                    search: search,
                }).then((response) => {
                    this.switchResponse(response);
                    this.loader_active = false;
                });
            },
            rename(text, storage_name){
                this.loader_active = true;
                axios.post(this.makeUrl() + '/file-manager/rename', {
                    disc: this.disc,
                    current_folder: this.current_folder,
                    storage_obj: storage_name,
                    storage_name: text,
                }).then((response) => {
                    this.switchResponse(response);
                    this.loader_active = false;
                }).catch(() => {
                    this.$modal.error("Error", 'error rename');
                    this.init()
                });
            },

            contextMenu_Copy() {
                this.context_menu_option = "copy";
                this.context_menu_option_disk = this.disc;
                this.context_menu_selected = [];

                for (let i = 0; i < this.selected.length; i++) {
                    this.context_menu_selected[i] = this.selected[i];
                }
            },
            contextMenu_Cut() {
                this.context_menu_option = "cut";
                this.context_menu_option_disk = this.disc;
                this.context_menu_selected = [];

                for (let i = 0; i < this.selected.length; i++) {
                    this.context_menu_selected[i] = this.selected[i];
                }
            },
            contextMenu_Insert() {
                //console.log('from: ' + this.context_menu_option_disk);
                //console.log(this.context_menu_selected);
                //console.log('to: ' + this.disc + "/" + this.current_folder);

                axios.post(this.makeUrl() + '/file-manager/insert', {
                    action: this.context_menu_option,
                    from_disk: this.context_menu_option_disk,
                    to_disk: this.disc,
                    to_folder: this.current_folder,
                    selected: this.context_menu_selected,
                }).then((response) => {
                    this.switchResponse(response);
                    this.loader_active = false;
                }).catch(() => {
                    this.$modal.error("Error", 'error trash');
                    this.init();
                });

                this.context_menu_option = "";
                this.context_menu_selected = [];
            },
            contextMenu_Delete() {
                this.toTrash();
            },
            contextMenu_Rename() {
                this.$refs[this.selected[0]][0].toggleEditable();
            },
            contextMenu_UploadFile() {
                document.getElementById('uploadFiles').click();
            },
            contextMenu_NewFolder() {
                this.createFolder();
            },
            changeContextMenuPath(path) {
                if (this.selected.length === 0 || !this.selected.includes(path)) {
                    this.select(path);
                }
            },
            scrollBarContextMenu(event) {
                document.getElementById('js-context-menu-item').style.display = 'none';
                let contextMenu = document.getElementById('js-context-menu-scrollBar');
                contextMenu.style.left = event.clientX + 'px';
                contextMenu.style.top = event.clientY + 'px';
                contextMenu.style.display = 'block';
            }
        }
    }
</script>

<style scoped>
    .file-manager-body {
        width: 100%;
    }
    .file-manager-folder-wrapper #files-list {
        opacity: 1;
        max-height: calc(100vh - 165px);
        transition: all .2s;
    }
    .file-manager-folder-wrapper.drag #files-list{
        opacity: 0.60;
        box-shadow: inset 0 0 25px rgba(71, 101, 255, 0.5);
    }
    .file-manager-folder-wrapper.empty{
        background: #edf0ff;
    }

    .loader, .empty-folder {
        display: block;
        background: #edf0ff;
        position: absolute;
        align-items: center;
        color: #A9AFD0;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: -1;
        pointer-events: none;
        opacity: 0;
    }

    .empty-folder p {
        font-size: 22px;
    }

    .empty-folder{
        background: none !important;
    }

    .empty-folder {
        z-index: 1000;
        opacity: 1;
    }

    .loader.active{
        z-index: 1001;
        opacity: 1;
    }
    .file-manager-wrapper .file-manager-folder-wrapper {
        flex: 0 0 100%;
        padding: 0.3rem;
        transition: all 0.2s;
    }
    .file-manager-wrapper.info .file-manager-folder-wrapper{
        flex: 0 1 100%;
    }

    .context-menu-open {
        display: none;
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
        background-color: white;
        border-radius: 4px;
        padding: 4px;
    }
    .context-menu-open ul {
        padding: 0;
        margin: 0;
    }
    .context-menu-open ul li {
        cursor: pointer;
        list-style: none;
        padding: 10px 12px;
        margin: 0;
        border-bottom: 1px solid #BFE2FF;
    }
    .context-menu-open ul li:last-child {
        border-bottom: 1px solid transparent;
    }
    .context-menu-open ul li:hover {
        background-color: #BFE2FF;
    }

    .new-folder-input {
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    }
    .modal-btn {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
    }
    .modal-button-success {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
    }
    .modal-button-secondary {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
    }
    .modal-button-danger {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }
</style>
