<template>
    <div class="bg-light info-area border-left">
        <template v-if="!can_show">
            <div class="empty-folder info d-flex align-items-center justify-content-center">
                <p>Select single</p>
            </div>
        </template>
        <template v-else>
            <perfect-scrollbar class="fixed-height">
                <div class="info-preview folder" v-if="is_folder">
                    <i data-feather="folder" class="feather-19"></i>
                </div>
                <div class="info-preview file" v-else>
                    <template v-if="info_data.preview_big.length > 0">
                        <img :src="info_data.preview_big"/>
                    </template>
                    <template v-else>
                        <i data-feather="file" class="feather-19"></i>
                        <span class="ext" v-text="info_data.ext"></span>
                    </template>
                </div>
                <div class="info-name editable" contenteditable="false" @click="toggleEditable" ref="editable" v-text="info_data.name"></div>
                <template v-if="is_folder">
                    <ul>
                        <li>
                            <div class="name">Total</div>
                            <div class="value">{{info_data.total}} ({{info_data.total_files}} files | {{info_data.total_folders}} folders)</div>
                        </li>
                        <li>
                            <div class="name">Last Modified</div>
                            <div class="value">{{info_data.last_change}}</div>
                        </li>
                        <li>
                            <div class="name">Create At</div>
                            <div class="value">{{info_data.created_at}}</div>
                        </li>
                    </ul>
                </template>
                <template v-else>
                    <ul>
                        <li v-if="info_data.ext.length > 0">
                            <div class="name">Extension</div>
                            <div class="value">{{info_data.ext}}</div>
                        </li>
                        <li>
                            <div class="name">Public Url</div>
                            <div class="value"><a :href="info_data.public_url" target="_blank"><i data-feather="link"></i> Open</a></div>
                        </li>
                        <li>
                            <div class="name">Size</div>
                            <div class="value">{{info_data.size}}</div>
                        </li>
                        <li v-if="info_data.image_size.length > 0">
                            <div class="name">Image Size</div>
                            <div class="value">{{info_data.image_size}}</div>
                        </li>
                        <li>
                            <div class="name">Last Modified</div>
                            <div class="value">{{info_data.last_change}}</div>
                        </li>
                        <li>
                            <div class="name">Created At</div>
                            <div class="value">{{info_data.created_at}}</div>
                        </li>
                    </ul>
                </template>
                <template v-if="info_data.can_save_attributes">
                    <form id="attributes" v-on:submit.prevent="saveAttributes()">
                        <input type="hidden" name="path" v-model="info_data.storage_name">
                        <div class="form-group">
                            <label for="alt">Alt</label>
                            <input type="text" id="alt" class="form-control form-control-sm" placeholder="alt" name="attributes[1][alt]" v-model="info_data.attributes[1]['alt']"/>
                        </div>
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" id="title" class="form-control form-control-sm" placeholder="title" name="attributes[1][title]" v-model="info_data.attributes[1]['title']"/>
                        </div>
                        <button type="submit" class="btn btn-block btn-sm btn-soft-primary">Save attributes</button>
                    </form>
                </template>
            </perfect-scrollbar>
        </template>
    </div>
</template>

<script>
    export default {
        name: "file-manager-info",
        props: ['info_data', 'rename'],
        computed:{
            is_folder(){
                return this.info_data.is_folder;
            },
            can_show(){
                return Object.keys(this.info_data).length > 0;
            }
        },
        methods: {
            toggleEditable(){
                let elem = this.$refs.editable;
                if(elem !== null){
                    elem.contentEditable = 'true';
                    elem.focus();
                }
                document.addEventListener('click', this.renameEvent, false);
            },
            renameEvent(e){
                if(!e.target.classList.contains('editable') && !e.target.classList.contains('file-content-name')){
                    let elem = this.$refs.editable;
                    if(elem !== null){
                        this.rename(elem.textContent, this.info_data.storage_name);
                        elem.contentEditable = 'false';
                    }
                    document.removeEventListener('click', this.renameEvent, false);
                }
            },
            saveAttributes(){
                let form = document.getElementById('attributes');
                let form_data = new FormData(form);
                axios.post(this.$url_prefix + '/helper/save-storage-attributes', form_data).then((response) => {
                    this.$modal.success('Success', 'Attributes successfully saved');
                }).catch((error) => {
                    this.$modal.error('Error', 'Something gone wrong');
                });
            },
        }
    }
</script>

<style scoped>
    .info-area {
        flex: 0 0 18rem;
        overflow: auto;
        transition: all 0.2s;
        position: relative;
    }
    .fixed-height {
        padding: .9rem;
        max-height: calc(100vh - 155px);
    }
    .info-area .info-preview {
        height: 250px;
        background-color: white;
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        align-items: center;
        text-align: center;
        width: 100%;
        position: relative;
    }
    .info-area .info-preview img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 8px;
    }
    .info-area .info-preview svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 150px;
        height: 150px;
        color: #4765FF;
        fill: #4765FF;
    }
    .info-area .info-preview.file svg {
        color: #e6edff;
        fill: #e6edff;
    }
    .info-area .info-preview.file .ext {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: #4765FF;
        font-size: 0.7rem;
        font-weight: 600;
    }
    .info-area .info-name {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.6;
        display: block;
        color: #585e7f;
        padding: 10px 0px;
    }
    .info-area ul {
        padding: 0;
        list-style: none;
        margin: 0;
    }
    .info-area ul li {
        margin-bottom: 10px;
        line-height: 18px;
    }
    .info-area ul li .name {
        color: #4765FF;
        font-weight: 600;
    }
    .info-area ul li .value {
        font-size: 13px;
        color: #969dc9;
    }
    .info-area ul li .value a {
        color: inherit;
        line-height: 22px;
    }
    .info-area ul li .value a svg {
        color: #c3cadc;
        width: 16px;
    }
    .empty-folder {
        display: block;
        background: #edf0ff;
        position: absolute;
        align-items: center;
        color: #A9AFD0;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: -1;
        pointer-events: none;
        opacity: 0;
        z-index: 1000;
        opacity: 1;
    }

    .empty-folder p {
        font-size: 18px;
    }
    @media (max-width: 1600px) {
        .info-area {
            flex: 0 0 14rem;
        }
        .info-area .info-preview{
            height: 200px;
        }
    }
</style>
