<template>
    <div class="file-manager-header bg-light border-bottom p-2">
        <div class="row">
            <div class="col-7">
                <div class="row d-flex align-items-center">
                    <div class="col-9">
                        <div class="file-manager-breadcrumb">
                            <button type="button" class="btn btn-light" @click="changeCurrentFolder(parent_folder)">
                                <i data-feather="chevron-left"></i>
                                {{parent_folder_name}}
                            </button>
                        </div>
                    </div>
                    <div class="col-3 text-right col-3 text-right rounded bg-white">
                        <div class="search-group d-flex align-items-center">
                            <span class="icon">
                                <i data-feather="search" class="feather-16"></i>
                            </span>
                            <input type="text" class="file-manager-search" placeholder="Search" v-model="search" @input="searchFile(search)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5 text-right">
                <button type="button" class="btn btn-icon btn-light" @click="triggerFileInput" v-if="disk_permissions.upload">
                    <i data-feather="upload" class="feather-19"></i>
                </button>
                <button type="button" class="btn btn-icon btn-light" @click="createFolder" v-if="disk_permissions.create_folder">
                    <i data-feather="folder-plus" class="feather-19"></i>
                </button>
                <button type="button" class="btn btn-icon btn-light delete-selected" @click="toggleDeleteClick" v-if="disk_permissions.delete && !can_delete">
                    <i data-feather="trash-2" class="feather-19"></i>
                </button>
                <button type="button" class="btn btn-icon btn-danger delete-selected" @click="toParentTrash" v-else-if="disk_permissions.delete && can_delete">
                    <i data-feather="trash-2" class="feather-19"></i>
                </button>
                <button type="button" class="btn btn-icon btn-light" @click="toClearDisk" v-if="disk_permissions.clear">
                    <i data-feather="x-octagon" class="feather-19"></i>
                </button>
                <button type="button" class="btn btn-icon btn-light ml-3" :key="'btn_' + grid" @click="toggleGrid('grid')" v-if="get_grid === 'list'">
                    <i data-feather="grid" class="feather-19"></i>
                </button>
                <button type="button" class="btn btn-icon btn-light ml-3" :key="'btn_' + grid" @click="toggleGrid('list')" v-else-if="get_grid === 'grid'">
                    <i data-feather="list" class="feather-19"></i>
                </button>
                <button type="button" class="btn btn-icon btn-light info-toggle" @click="showInfo">
                    <i data-feather="info" class="feather-19"></i>
                </button>
                <button v-if="typeof modal_id !== 'undefined'" type="button" class="btn btn-icon btn-light" @click="closeModal">
                    <i data-feather="x" class="feather-19"></i>
                </button>
            </div>
        </div>
        <!--
        <div class="upload-errors" v-if="errors">
            <div class="upload-error bg-danger text-white" v-for="error in errors">
                <i data-feather="alert-triangle"></i> {{error}}
            </div>
        </div>
        <div class="upload-progress" v-if="upload_percent > 0">
            <div class="progress"><div role="progressbar" id="progress" :aria-valuenow="upload_percent" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-striped progress-bar-animated"></div></div>
        </div>
        -->
    </div>
</template>

<script>
    export default {
        name: "file-manager-header",
        data: function () {
            return {
                can_delete: false,
                search: ''
            }
        },
        props: [
            'disc',
            'disk_permissions',
            'modal_id',
            'parent_folder',
            'parent_folder_name',
            'toTrash',
            'changeCurrentFolder',
            'createFolder',
            'grid',
            'toggleGrid',
            'searchFile',
            'clearDisk'
        ],
        computed:{
            get_disc(){
                return this.disc;
            },
            get_grid(){
                return this.grid;
            }
        },
        mounted(){
            this.$feather.replace();
        },
        updated(){
            this.$feather.replace();
        },
        methods: {
            toClearDisk() {
                this.clearDisk();
            },
            toParentTrash(){
                this.can_delete = false;
                this.toTrash();
            },
            toggleDeleteClick(){
                this.can_delete = true;
                this.$feather.replace();
                if(this.can_delete){
                    document.addEventListener('click', this.checkDeleteClick, false)
                }else{
                    document.removeEventListener('click', this.checkDeleteClick, false)
                }
            },
            checkDeleteClick(e){
                let parent = e.target.closest('.delete-selected');
                if(parent == null){
                    this.can_delete = false;
                    document.removeEventListener('click', this.checkDeleteClick, false)
                }
            },
            triggerFileInput(){
                document.getElementById('uploadFiles').click();
            },
            showInfo(){
                document.querySelector('.file-manager-wrapper').classList.toggle('info');
                document.querySelector('.info-toggle').classList.toggle('btn-soft-primary');
                document.querySelector('.info-toggle').classList.toggle('btn-light');
            },
            closeModal(){
                this.$bvModal.hide(this.modal_id);
            }
        }
    }
</script>

<style scoped>
    .file-manager-header{
        position: relative;
    }
    .file-manager-header .btn-light {
        color: #9396a5;
    }
    .search-group {
        color: #9396a5;
    }
    .search-group .icon {
        position: absolute;
        left: .3rem;
    }
    .search-group .file-manager-search {
        border: none;
        padding-left: 1rem;
        line-height: 1.9rem;
    }
    .search-group .icon svg {
        width: 1rem;
        height: 1rem;
    }
</style>
