<template>
    <nav class="flex-row flex-fill bg-light border-right">
        <ul class="nav">
            <li class="nav-header">Navigation</li>
            <li v-for="item in sidebar" class="nav-item" v-bind:class="{'active': get_disc === item.disk}">
                <a class="nav-link" href="javascript:void(0);" @click="changeDisc(item.disk)">
                    <i :data-feather="item.feather" class="toolbar-icon"></i><span class="menu-title ml-2">{{item.folder}}</span>
                </a>
            </li>

<!--
            <li class="nav-item" >
                <a class="nav-link" href="javascript:void(0)" @click="changeDisc('file-manager')">
                    <i data-feather="folder" class="toolbar-icon"></i><span class="menu-title ml-2">Home</span>
                </a>
            </li>
            <li class="nav-item" v-bind:class="{'active': get_disc === 'file-manager-private'}">
                <a class="nav-link" href="javascript:void(0)" @click="changeDisc('file-manager-private')">
                    <i data-feather="folder" class="toolbar-icon"></i><span class="menu-title ml-2">Private</span>
                </a>
            </li>
            <li class="nav-item" v-bind:class="{'active': get_disc === 'file-manager-trash'}">
                <a class="nav-link" href="javascript:void(0)" @click="changeDisc('file-manager-trash')">
                    <i data-feather="trash-2" class="toolbar-icon"></i><span class="menu-title ml-2">Trash</span>
                </a>
            </li>
            <li class="nav-item" v-bind:class="{'active': get_disc === 'file-manager-cache'}">
                <a class="nav-link" href="javascript:void(0)" @click="changeDisc('file-manager-cache')">
                    <i data-feather="hash" class="toolbar-icon"></i><span class="menu-title ml-2">Cache</span>
                </a>
            </li>
            -->
        </ul>
    </nav>
</template>

<script>
    export default {
        name: "file-manager-sidebar",
        props: ['changeDisc', 'changeDiskWithFolder', 'disc', 'sidebar'],
        computed:{
            get_disc(){
                return this.disc;
            }
        },
        mounted(){
            this.$feather.replace();
        }
    }
</script>

<style scoped>
    .nav {
        overflow: hidden;
        flex-wrap: nowrap;
        flex-direction: column;
        padding: 10px 10px 10px 20px;
    }
    .nav .nav-header {
        text-transform: uppercase;
        font-size: 0.625rem;
        color: #112049;
        margin: 1rem 0;
    }
    .nav .nav-item {
        -moz-transition-property: 0.25s;
        -o-transition-property: 0.25s;
        -webkit-transition-property: 0.25s;
        transition-property: 0.25s;
        -moz-transition-property: background;
        -o-transition-property: background;
        -webkit-transition-property: background;
        transition-property: background;
    }
    .nav .nav-item.active {
        background: #edf0ff;
        border-radius: 4px;
    }
    .nav .nav-item .nav-link {
        display: flex;
        white-space: nowrap;
        padding: 0.5625rem 0.875rem;
        color: #969dc9;
        -moz-transition-property: 0.45s;
        -o-transition-property: 0.45s;
        -webkit-transition-property: 0.45s;
        transition-property: 0.45s;
        -moz-transition-property: color;
        -o-transition-property: color;
        -webkit-transition-property: color;
        transition-property: color;
        align-items: center;
    }
    .nav .nav-item .nav-link .menu-title {
        color: inherit;
        display: inline-block;
        font-size: 0.75rem;
        vertical-align: middle;
    }
</style>
