<template>
    <div unselectable="on" class="file-content js-context-menu"
         v-bind:class="{'selected': is_selected, 'folder': is_folder, 'file': !is_folder}"
         @dragover.prevent
         @dragenter.prevent="is_folder ? dragFolderOn : false"
         @dragleave.prevent="is_folder ? dragFolderOff : false"
         v-on:dblclick="is_folder ? changeCurrentFolder(item.storage_name) : setFile(disc + '/' + item.storage_name)"
         @click="selectOne"
         @click.exact.ctrl="selectMany"
         @click.exact.shift="selectRange"
         @contextmenu.stop.prevent="contextMenu($event)"
    >
        <div class="file-content-wrapper" v-if="is_folder">
            <div class="file-content-preview">
                <i data-feather="folder" class="feather-19"></i>
            </div>
            <div class="file-content-name">
                <span class="editable" contenteditable="false" ref="editable" @click="toggleEditable" v-text="item.name"></span>
                <div class="total">
                    {{ item.total }}
                    <template v-if="get_grid === 'list'">, {{ item.last_change }}</template>
                </div>
            </div>
        </div>
        <div v-else>
            <div class="file-content-wrapper">
                <div class="file-content-preview">
                    <template v-if="item.preview.length > 0">
                        <img :src="item.preview"/>
                    </template>
                    <template v-else>
                        <i data-feather="file" class="feather-19"></i>
                        <span class="ext" v-text="item.ext"></span>
                    </template>
                </div>
                <div class="file-content-name">
                    <span class="editable" contenteditable="false" ref="editable" @click="toggleEditable" v-text="item.name"></span>
                    <div class="total">
                        {{ item.size }}
                        <template v-if="get_grid === 'list'">, {{ item.last_change }}</template>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "folder-component",
        data: function () {
            return {
                ctrl_is_pressed: false,
                shift_is_pressed: false
            }
        },
        props: [
            'drop_folder',
            'item',
            'grid',
            'disc',
            'select',
            'selected',
            'changeCurrentFolder',
            'changeDropFolder',
            'changeContextMenuItem',
            'rename',
            'setFile'
        ],
        mounted(){
            this.$feather.replace();
            let _this = this;


            // end context-menu
        },
        computed:{
            get_grid(){
                return this.grid;
            },
            is_selected(){
                return (this.selected.indexOf(this.item.storage_name) >= 0)
            },
            is_folder(){
                return this.item.is_folder;
            }
        },
        methods: {
            contextMenu(event) {
                //this.$emit('changeContextMenuPath', this.disc + "/" + this.item.storage_name);
                this.$emit('changeContextMenuPath', this.item.storage_name);

                document.getElementById('js-context-menu-scrollBar').style.display = 'none';

                let contextMenuOpen = document.getElementById('js-context-menu-item');
                contextMenuOpen.style.left = event.clientX + 'px';
                contextMenuOpen.style.top = event.clientY + 'px';
                contextMenuOpen.style.display = 'block';
            },
            toggleEditable(){
                let elem = this.$refs.editable;
                if(elem !== null){
                    elem.contentEditable = 'true';
                    elem.focus();
                }

                let _this = this;

                setTimeout(function () {
                    document.addEventListener('click', _this.renameEvent, false);
                }, 200);
            },
            renameEvent(e){
                if(!e.target.classList.contains('editable') && !e.target.classList.contains('file-content-name')){
                    let elem = this.$refs.editable;
                    if(elem !== null){
                        if (this.item.name !== elem.textContent) {
                            this.rename(elem.textContent, this.item.storage_name);
                        }
                        elem.contentEditable = 'false';
                    }
                    document.removeEventListener('click', this.renameEvent, false);
                }
            },
            dragFolderOn: function (e) {
                let folder = e.target;
                if(typeof e.target.closest === 'undefined'){
                    folder = e.target.parentNode.closest('.file-content');
                    folder.classList.add('drag');
                }else{
                    folder = e.target.closest('.file-content');
                    folder.classList.add('drag');
                }
                this.changeDropFolder(this.item.storage_name);
                document.getElementById('drop-area').classList.remove('drag');
            },
            dragFolderOff: function (e) {
                if(typeof e.target.classList !== 'undefined') {
                    e.target.classList.remove('drag');
                    if(e.target.dataset.storage_name === this.drop_folder){
                        this.changeDropFolder("");
                    }
                }
            },
            selectOne(){
                this.ctrl_is_pressed = false;
                this.shift_is_pressed = false;
                setTimeout(() => {
                    if(!this.ctrl_is_pressed && !this.shift_is_pressed){
                        this.select(this.item.storage_name, this.ctrl_is_pressed);
                    }
                }, 200);
            },
            selectMany(){
                this.ctrl_is_pressed = true;
                this.shift_is_pressed = false;
                setTimeout(() => {
                    if(this.ctrl_is_pressed && !this.shift_is_pressed){
                        this.select(this.item.storage_name, this.ctrl_is_pressed);
                    }
                }, 200);
            },
            selectRange(){
                this.ctrl_is_pressed = false;
                this.shift_is_pressed = true;
                setTimeout(() => {
                    if(!this.ctrl_is_pressed && this.shift_is_pressed){
                        this.select(this.item.storage_name, this.ctrl_is_pressed, this.shift_is_pressed);
                    }
                }, 200);
            }
        }
    }
</script>

<style scoped>
    .file-content {
        width: calc((100% / 8) - 1rem);
        cursor: pointer;
        position: relative;
        transition: all 0.2s;
        margin: .5rem;
        user-select: none; /* CSS3 (little to no support) */
        -ms-user-select: none; /* IE 10+ */
        -moz-user-select: none; /* Gecko (Firefox) */
        -webkit-user-select: none; /* Webkit (Safari, Chrome) */
    }
    @media (max-width: 1500px) {
        .file-content {
            width: calc((100% / 6) - 1rem);
        }
    }
    .file-content::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        top: .3rem;
        bottom: .3rem;
        left: .4rem;
        right: .4rem;
        transition: all .2s ease-out;
    }
    .file-content.drag::before, .file-content.selected::before{
        top: .1rem;
        bottom: .1rem;
        left: .2rem;
        right: .2rem;
        z-index: 100;
        border-radius: .4rem;
        background: rgba(71,101,255,0.2);
    }
    .file-content.selected::before{
        background: rgba(0,0,0,0.05);
    }
    .list .file-content.selected::before, .list .file-content.drag::before{
        left: -.4rem;
        right: -.4rem;
    }
    .file-content.drag >* {
        pointer-events: none;
    }
    .file-content .file-content-preview {
        padding: 1rem 0;
        position: relative;
        height: 112px;
        text-align: center;
    }
    .file-content .file-content-preview .ext {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: #4765FF;
        font-size: 0.7rem;
        font-weight: 600;
    }
    .file-content-wrapper {
        padding-bottom: 1rem;
    }
    .file-content .file-content-preview i {
        height: 80px;
        width: 100%;
    }
    .file-content .file-content-preview svg {
        height: 80px;
        width: 100%;
        color: #4765FF;
        fill: #4765FF;
        pointer-events: none;
        max-width: 100%;
        max-height: 100%;
    }
    .file-content .file-content-preview img {
        max-width: 70%;
        border-radius: 10px;
        max-height: calc(100% - 1rem);
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    .file-content.file .file-content-preview svg {
        color: #e6edff;
        fill: #e6edff;
    }
    .file-content .file-content-name {
        font-size: .9rem;
        font-weight: 500;
        text-align: center;
    }
    .file-content .file-content-name .total {
        font-size: .7rem;
        font-weight: normal;
        color: #969dc9;
    }
    .list .file-content{
        width: 100%;
        margin: .2rem .5rem;
    }
    .list .file-content-wrapper {
        display: flex;
        align-items: center;
        padding-bottom: 0;
    }
    .list .file-content-preview {
        height: 60px !important;
        padding: 0.3rem 0 !important;
        margin-right: .8rem;
    }
    .list .file-content-name {
        text-align: left !important;
    }
    .file-manager-wrapper.info .file-manager-folder-wrapper-items:not(.list) .file-content {
        width: calc((100% / 7) - 1rem);
    }
    @media (max-width: 1600px) {
        .file-content {
            width: calc((100% / 6) - 1rem);
        }
        .file-manager-wrapper.info .file-manager-folder-wrapper-items:not(.list) .file-content {
            width: calc((100% / 5) - 1rem);
        }
    }
    .editable{
        width: 100%;
        word-break: break-word;
        position: relative;
        z-index: 100;

        -webkit-user-select: text;
        user-select: text;
    }



</style>
